@media (max-width: 900px) {
    .Navigation{
      display: none;
    }
    .MobileTopBar{
#form-signin input{
    border: 1px rgb(145, 139, 139) inset;
  border-radius: 15px;
  margin: 5px;
  padding: 15px;
  width: 90%;
  height:40px;
  float:right
}