.progressbar{
    
    background: white;
    
}

 .form {
    margin: 20px;
    padding: 15px;
    background: rgb(100,212,221);
    color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
 }
 .input-cnt {
    display: flex; /* display the icon and the input in a line */
    margin-bottom: 15px;
 }
 .input-cnt:last-child {
    margin-bottom: 0px;
 }
 .input-cnt > i {
    min-width: 40px; /* set a minimum width for the icon */
    padding: 10px; /* make sure the icon is centered vertically */
    text-align: center; /* horizontally center the icon */
    background: lightgrey;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #0076ff;
 }
 /* change styles when focused */
 .input-cnt:hover > i {
    background: #0076ff;
    color: white;
 }
 /* style the inputs */
 .input-cnt > input[type="text"], .input-cnt > input[type="password"], .input-cnt > input[type="country"], .input-cnt > input[type="email"] {
    outline: none;
    border: none;
    padding: 10px;
    border: 1px solid lightgrey;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
 }
 /* style the submit button */
 .formBtn {
    border: none;
    border-radius: 20px;
    outline: none;
    width: 25%;
    margin: 0 auto;
    font-size: 105%;
    padding: 8px;
    color: #0076ff;
    background: white;
    transition-duration: .5s;
 }
 /* add a hover effect for the submit button */
 .formBtn:hover {
    color: white;
    background: #0076ff;
 }
 .formBtn :disabled{
     hover
 }